@font-face {
    font-family: 'SanFrancisco';
    src: url(./font/sfuitext-regular-webfont.woff) format('woff'), url(./font/sfuitext-regular-webfont.woff2) format('woff2');
}

* {
    text-align: center;
    font-size: 32px;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'SanFrancisco';
}

div.offer {
    display: flex;
    border: rgb(241, 241, 241) 1px solid;
    border-radius: 2em;
    background-color: rgb(241, 241, 241);
    margin: 2em 10%;
    height: 10%;
    align-items: center;
    box-shadow: 13px 12px rgb(142, 2, 2);
}

div.offer div {
    padding: 0; 
    margin: 3em 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

div.offer div * {
    text-align: left;
    padding: 0;
    margin: 4%;
    font-size: 100%;
    color: black;
}

img {
    height: 10em;
    margin: 0 0 0 8%;
    border-radius: 5em;
    box-shadow: 10px 8px rgb(142, 2, 2);
}

div.intro {
    margin: 8em 10% 20em;
}

h2 {
    font-size: 1.8rem;
    margin: 0.5rem;
}

h3 {
    font-size: 1.7rem;
}

nav {
    background-color: rgb(142, 2, 2);
    margin: 0 2rem;
    display: flex;
    align-items: center;
}

header {
    background-color:rgb(142, 2, 2);
    margin: 0 1rem 0 1rem;
    border-radius: 0 0 0.6rem 0.6rem;
    /* box-shadow: rgb(40, 40, 40) 5px 5px 5px, rgb(40, 40, 40) -5px 5px 5px; */
    position: sticky;
    top: 0;
}

nav p {
    margin: 0 auto 0 10px;
}

button {
    background-color: rgb(142, 2, 2);
    border: 0;
    color: white;
    padding: 0.5rem 1.5rem;
}

html body {
    background-image: url(images/cs.gif);
    backdrop-filter: blur(20px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 0;
}

div.offer:nth-of-type(4n) p {
    font-size: 0.4em;
}

div.menu {
    border: rgb(241, 241, 241) 1px solid;
    border-radius: 2em;
    background-color: rgb(241, 241, 241);
    margin: 2em 10%;
    height: 10%;
    align-items: center;
    box-shadow: 13px 12px rgb(142, 2, 2);
}

h4 {
    color: black;
    margin: 1.5em 2em 0 2em;
    text-align: left;
}

div.menu div {
    padding: 0;
    margin: 0 5%;
    height: 100%;
    display: flex;
}

div.menu div * {
    text-align: left;
    padding: 0;
    margin: 4%;
    font-size: 100%;
    color: black;
    flex: 1;
}

div.menu div p:last-child {
    text-align: right;
}

div.about {
    border: rgb(241, 241, 241) 1px solid;
    border-radius: 2em;
    background-color: rgb(241, 241, 241);
    margin: 2em 10%;
    height: 10%;
    align-items: center;
    box-shadow: 13px 12px rgb(104, 28, 0);
}

div.about p {
    color: black;
    margin: 2em;
}

img.final {
    height: 200px;
    margin: 0 0 2em;
    border-radius: 0.5em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: rgb(161, 0, 0);
}